# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/captures/
android/local.properties
android/key.properties
android/*.jks

# iOS
ios/.symlinks/
ios/Pods/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# macOS
macos/Flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Web
lib/generated_plugin_registrant.dart
